$default-background-color: #06070D;
$default-items-color: lightgray;

.navigation-bar-container {
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: $default-background-color;
  color: $default-items-color;

  //Left side
  #nav-left {
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #search-bar {
      border: none;
      background-color: $default-background-color;
      color: $default-items-color;
    }

    #search-button {
      background-image: url("./navigation-bar-images/search.svg");
      background-size: contain;
      background-color: $default-background-color;
      border: none;
      width: 20px;
      height: 20px;
    }

    a {
      font-size: 18px;
      height: 100%;
      line-height: 55px;
      //border: solid red;
      padding-left: 5px;
      padding-right: 5px;
    }

    $separation-line: solid 1px #464646;

    a:nth-child(2):before {
      content: '';
      border-left: $separation-line;
      padding-left: 20px;
    }

    a:nth-child(3):after {
      content: '';
      border-right: $separation-line;
      padding-right: 20px;
    }

    a:hover {
      color: #d3a7ff;
      transition-duration: 0.5s;
    }


  }

  //Right side
  #nav-right {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*border: solid rebeccapurple;*/

    #user-icon {
      width: 45px;
      height: 45px;
    }

    #sign-in-button {
      font-size: 12px;
      font-weight: bold;
      color: $default-items-color;
      border: none;
      border-radius: 3px;
      background-color: #6135BF;
      padding: 10px 12px;
    }

    #notification-bell-icon {
      width: 30px;
      height: 30px;
    }
  }
}



span {
  font-weight: bold;
  //font-size: larger;
  font-size: 23px;
}