.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;

  .back-button {
    outline: none;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    border: 1px solid #6135BF;
    background-color: #0E111B;
    color: #d3a7ff;
    align-self: flex-start;
    width: 80px;
    height: 30px;
    margin-left: 40px;
    border-radius: 3px;
    transition-duration: 0.5s;
  }

  .back-button:hover {
    background-color: #6135BF;
    color: whitesmoke;
    cursor: pointer;
    transition-duration: 0.5s;
  }
}


//image + like and comment buttons
.image-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 28px 5px rgba(97, 53, 191, 0.25);
  border-radius: 10px;

  //there is no error here it's from the image url path
  .comment-and-like-container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    //like and comment layout
    .like-and-comment-layout {
      display: flex;
      align-items: center;
      color: #6135BF;
      height: 40px;
    }

    .like-button {
      background-image: url("/icons/heart-empty.png");
      margin-right: 5px;
    }

    .comment-button {
      background-image: url("/icons/comment-full.png");
      margin-right: 5px;
    }

    .button-size {
      border: none;
      background-color: #0E111B;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
    }

  }
}

.info-container {
  //border: solid 1px red;
  color: #d3a7ff;
  margin-top: 40px;
  width: 80%;

  h2, h3 {
    font-weight: lighter;
  }

  .keywords-container {
    font-size: 17px;
    font-weight: lighter;
    padding: 5px 5px 5px 0;
  }
}

.main-comments-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 20px;

  //new comment form
  .new-comment-form {
    //border: solid 1px red;
    margin-bottom: 20px;
    margin-top: 10px;

    > h2 {
      color: #e0e0e0;
    }

    .new-comment {
      display: flex;

      > div {
        width: 55%;
        display: flex;
        flex-direction: column;

        > .new-comment-text {
          //width: 50%;
          height: 100px;
          border: none;
          resize: none;
          color: whitesmoke;
          font-size: larger;
          padding: 10px;
          font-family: 'Roboto Condensed', sans-serif;
          border-radius: 5px;
          background-color: #1d162a;
          transition-duration: 0.5s;
          color: rgba(198, 168, 255, 0.63);

          &:focus {
            transition-duration: 0.5s;
            background-color: #271d38;
            outline: none;
          }
        }

        .post-comment-button {
          align-self: flex-end;
          font-size: 14px;
          color: rgba(198, 168, 255, 0.63);
          background-color: transparent;
          border: 1px solid #6135BF;
          border-radius: 3px;
          width: 120px;
          height: 35px;
          margin-top: 15px;
          transition-duration: 0.6s;

          &:hover {
            color: whitesmoke;
            background-color: #6135BF;
            transition-duration: 0.5s;
            cursor: pointer;
          }
        }
      }

      > .avatar-icon {
        width: 55px;
        height: 55px;
        margin-right: 15px;
        border-radius: 100%;
      }
    }
  }

  //comment section
  .comments-container {
    //border: solid 1px red;
    margin: 20px 0;

    > h2 {
      color: #e0e0e0;
    }

    .comment-wrapper {
      display: flex;
      align-items: center;

      > img {
        width: 55px;
        height: 55px;
        margin-right: 15px;
        border-radius: 100%;
      }

      > .comment-text {
        width: auto;
        height: auto;
        border: none;
        resize: none;
        font-size: 17px;
        padding: 10px;
        font-family: 'Roboto Condensed', sans-serif;
        border-radius: 5px;
        background-color: #2c2240;
        color: rgba(198, 168, 255, 0.94);
      }
    }
  }
}


