// -------------- Image hover --------------
.column > section {
  overflow: hidden;
}

.image-info-container {
  display: flex;
  align-items: center;
  background-color: #1b2037;
  //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(20, 24, 41) 100%);
  color: whitesmoke;
  font-size: 20px;
  width: 100%;

  //animation
  height: 70px;
  opacity: 0;
  transition-duration: 0.5s;
  position: relative;
  margin-top: -100px;
  transform: translateY(100%);

  .likes-container {
    display: flex;
    //width: 100px;
    align-items: center;
    margin-left: 15px;
    .like-icon {
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      //padding-right: 25px;
      //margin-right: 25px;
    }
  }


  .title-container {
    width: 220px;
    margin-left: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }
}

.column > section:hover {
  .image-info-container {
    opacity: 1;
    transition-duration: 0.5s;
    transform: translateY(0);
  }
}

.column > section {

}